// src/components/ui/Notification.scss
@import "../../styles/variables";

.notification-container {
  position: fixed;
  top: 80px;
  right: 20px;
  min-width: 300px;
  max-width: 90%;
  padding: $spacing-3;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1050; // Higher than the modal overlay
  animation: slideIn 0.3s ease-out;
}

.notification-message {
  margin: 0;
  padding-right: $spacing-4;
  font-weight: 500;
}

.notification-container.success {
  background-color: lighten($success-color, 45%);
  color: darken($success-color, 20%);
  border: 1px solid lighten($success-color, 30%);
}

.notification-container.error {
  background-color: lighten($error-color, 35%);
  color: darken($error-color, 20%);
  border: 1px solid lighten($error-color, 20%);
}

.notification-close-btn {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  line-height: 1;
  color: inherit;
  opacity: 0.7;
  &:hover {
    opacity: 1;
  }
}

.lottie-success-container {
  display: flex;
  align-items: center;
  gap: $spacing-2;
}

@keyframes slideIn {
  from {
    transform: translateX(110%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
