// src/features/about/components/WriteReview.scss
@import '../../../styles/variables';

.write-review-container {
  h4 {
    margin-top: 0;
  }
}

.star-rating-input {
  span {
    font-size: 2rem;
    cursor: pointer;
    color: #ccc;
    transition: color 0.2s;
  }

  span.filled {
    color: #ffc107;
  }
}
